<div class="authors-edit-page">
    
    <div><h1>Favorite authors</h1></div>

    <div><a [routerLink]="['/']">Home</a></div>

    <div class="purple">Edit this author:</div>

    <div class="add-form">

            <label for="name">Name:</label>
            <input type="text" [(ngModel)]="author.name">
            <div *ngIf="errorMsg" class="red">
                {{errorMsg}}
            </div>

            <div class="buttons">
                <button (click)="clickCancel()">Cancel</button><button (click)="clickSumbit()">Submit</button>
            </div>

    </div>

</div>